body {
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #e66465);
}


.container {
    font-size: large;
    display: flow;
    justify-content: center;
    align-items: center;
    max-width: 75vh;
    min-height: 90vh;
    box-shadow: 0 0 5px 5px;
}

.container > button {
    cursor: pointer;
    font-size: 1rem;
    border: none;
    outline: solid;
    background-color: white;
}

.container > button:hover {
    background-color: darkgray;
}

div#result {
    font-size: x-large;
}



